<div class="container">
    <div class="col-md-4">
        <p>Image Dimensions: <input data-ng-model="imageDimension" class="col-md-3"></input></p>
    </div>
    <div class="col-md-8">        
        <img class="img-polaroid" data-ph-img="{{imageDimension}}"/>
    </div>
</div>